@mixin text-truncate($line-clamp) {
  @if $line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
  } @else {
    @warn "No value provided for $line-clamp";
  }
}
